@using DiscogymPUMA2020.Models.Class;
@model Tuple<CategoryViewModel, IEnumerable<Workout>>
@{
    ViewData["Title"] = "Program";
    ViewBag.gym = "Gym";
    ViewBag.home = "Home";
}


    <div class="border-bottom">
        <nav class="navbar navbar-expand-md navbar-light ">
            <img src="~/Images/mirror-ball.png" width="30" height="30" class="d-inline-block alignt-top" loading="lazy" />
            <h2 class="px-2">@ViewData["Title"]</h2>
            <div class="navbar-nav ml-auto">

                <a type="submit" class="btn btn-light btn-sm" asp-action="Index" asp-route-gym="@ViewData["GymSort"]">
                    @if (!ViewData["GymSort"].Equals("gym"))
                    {
                        <img src="~/Images/HemGymSwitch_HEM.png" width="30" height="30" class="d-inline-block" loading="lazy" />
                    }
                    else
                    {
                        <img src="~/Images/HemGymSwitch_GYM.png" width="30" height="30" class="d-inline-block" loading="lazy" />
                    }
                </a>
            </div>
        </nav>
    </div>

    <div class="container border-0">
        <div class="row align-items-start my-2">
            @foreach (var item in Model.Item1.Categories)
            {
            <div class="col">
                <a type="button" class="btn rounded-circle" asp-action="Index" asp-route-selectedCat="@item.Value">
                    @if (Model.Item1.SelectedCategories != null)
                    {
                        if (Model.Item1.SelectedCategories.Contains(item.Value))
                        {
                            <img src="~/Images/Selected.png" class="card-img" width="60" height="60" />
                        }
                        else
                        {
                            <img src="~/Images/Categories/Cate.png" class="card-img" width="60" height="60" />
                        }
                    }
                    else
                    {
                        <img src="~/Images/Categories/Cate.png" class="card-img" width="60" height="60" />
                    }
                </a>
                <p class="card-subtitle align-text-bottom text-center">@item.Text</p>
            </div>
            }
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white">
        <h5>Workout</h5>
        @foreach (var item in Model.Item2)
        {
            <a type="button" class="btn-block" asp-action="TrainingView" asp-route-id="@item.Id">
                <div class="media m-3 shadow border rounded" style="height: 100px;">
                    <img src="~/Images/workout.jpg" class="mr-3 rounded-left" width="100" height="100" />
                    <div class="media-body">
                        <h5 class="mt-1">@item.Name</h5>
                        @if (item.Gym == true)
                        {
                            <p>@item.WorkoutTime | @ViewBag.gym</p>
                        }
                        else
                        {
                            <p>@item.WorkoutTime | @ViewBag.home</p>
                        }

                    </div>
                </div>
            </a>
        }

    </div>


    <div class="d-flex mb-auto align-end align-bottom">
        <a type="button" class="btn rounded-circle ml-auto" style="width: 40px; height: 40px;" asp-action="Create">
            <img src="~/Images/Group 36.png" class="position-fixed" />
        </a>
    </div>