@using DiscogymPUMA2020.Models.Class; 
@model DiscogymPUMA2020.Models.Class.Workout

@{
    ViewData["Title"] = Model.Name;
}

<div class="border-bottom">
    <nav class="navbar navbar-expand-md navbar-light ">
        <a asp-action="Index">
            <img src="~/Images/arrow_back-24px.svg" width="30" height="30" class="d-inline-block align-top" loading="lazy" />
        </a>
        <div class="float-left">
            <h2 class="px-2">@ViewData["Title"]</h2>
        </div>
        <div class="navbar-nav ml-auto">
            <!-- <a type="submit" class="btn btn-light btn-sm" asp-action="Index" asp-route-selectedCat=""> All</a> -->
        </div>
    </nav>
</div>

<div class="my-3">
    <h5>@ViewBag.Level | @Model.WorkoutTime min</h5>
    
    <div class="mt-3">
        <ul class="list-group">
            @foreach (var item in (IEnumerable<WorkoutExercise>) ViewBag.Exercises)
            {
                <li class="list-group-item">
                    <div class=" d-flex justify-content-start">
                        <div class="mr-2">
                            <img src="~/Images/exercise.jpg" width="60" height="60" />
                        </div>
                        <div class="d-block">
                            <p class="my-auto">@item.Exercise.Name</p>
                            <p class="my-auto"> @item.Exercise.Sets sets | @item.Exercise.Reps reps</p>
                        </div>
                    </div>  
                </li>
            }

        </ul>
    </div>
</div>

<div class="d-flex justify-content-center">
    <a type="button" class="btn btn-primary font-weight-bold" style="width:150px;" asp-action="TrainingPlay" asp-route-id="@Model.Id" >Start</a>
</div>

