@model DiscogymPUMA2020.Models.Helpers.PlannerHelper
@{
    ViewData["Title"] = "Planner";
    DateTime today = ViewBag.Today;
}

<div class="border-bottom">
    <nav class="navbar navbar-expand-md navbar-light ">
        <img src="~/Images/mirror-ball.png" width="30" height="30" class="d-inline-block alignt-top" loading="lazy" />
        <h2 class="px-2">@ViewData["Title"]</h2>
        <div class="navbar-nav ml-auto">
            <button type="button" class="btn btn-light btn-sm">
                <img src="~/Images/insert_invitation-24px.svg" width="30" height="30" class="d-inline-block" loading="lazy" />
            </button>
        </div>
    </nav>
</div>

<div class="text-center">
    <div id="week">
        @foreach (var item in Model.Week)
        {
            if (today.Day.ToString().Equals(item.Date))
            {
                <a class="btn-link" asp-area="" asp-controller="Plan" asp-action="PlannerSpecificDate" asp-route-day="@item.Date"><b>@item.LetterAndDate</b></a>
            }
            else
            {
                <a class="btn-link" asp-area="" asp-controller="Plan" asp-action="PlannerSpecificDate" asp-route-day="@item.Date">@item.LetterAndDate</a>
            }
        }
    </div>
</div>


<div class="jumbotron jumbotron-fluid bg-white">
    <h5>Plan</h5>
    @foreach (var item in Model.Plans)
    {
        <div class="media m-3 shadow border rounded" style="height: 100px; ">
            <img src="~/Images/workout.jpg" class="mr-3 rounded-left" width="100" height="100" />
            <div class="media-body">
                <h5 class="mt-1">@item.Workout.Name</h5>
                @item.Workout.WorkoutTime |  @((bool)item.Workout.Gym ? "Gym":"Home")
            </div>
        </div>
    }

</div>


<!--
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Week.FirstOrDefault().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Week.FirstOrDefault().WeekdayLetter)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (DiscogymPUMA2020.Models.Helpers.DayAndDate item in Model.Week)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeekdayLetter)
                </td>
            </tr>
        }
    </tbody>
</table>
    -->
